<section id="about">
    <div id="owl-demo" class="owl-ts-v1 owl-theme">
        <div>
            <content>
                <div class="title-v1">
                    <h2>Our Company</h2>
                </div>
                <div class="col-md-12">
                    <p>KUB Telekomunikasi Sdn Bhd is a leading subsidiary of KUB Malaysia Berhad, a diversified yet synergistic company listed on the Main Board of Bursa Malaysia. Incorporated in 1991, KUBTel is driven by its vision to be the country’s premier provider of information and communications	solutions.</p>
                    <p>Today, we rank as one of Malaysia’s most prolific and thriving communications companies. We enjoy a long-term business relationship with incumbent Telekom Malaysia Berhad, to whom we have successfully supplied state-of-the-art communications contracts solutions valued at over RM1 billion. Our systems are used extensively on a daily basis to meet the communications needs of the education, government and private sectors.</p>
                    <p>Our sophisticated product  range  comprises  some  of  the  world’s  most  advanced technologies,  and  we  have  pioneered  the  implementation  of  many of  the  advanced communications  solutions  that  run  the  powerful  telephony  and  internet  services many  Malaysians  take  for  granted  today:  ADSL  (Asymmetrical  Digital  Subscriber Line),  WiLL  (Wireless-in-Local-Loop),  BFWA  (Broadband  Fixed  Wireless  Access), RTDSLAM  (Remote  Terminal  Digital  Subscriber  Line  Access  Multiplexer  System), Metro-e, Microwave, WIFI, and IP Radio.</p>
                    <p>Besides “active” equipments, KUBtel is also has in its product list passive components such as data cables (fibre and copper) power cables, distribution panels, splitters, pedestals etc.</p>
                    <p>KUB Telekomunikasi Sdn Bhd is a license holder of the Malaysian Communications and Multimedia (MCMC), Network Facility Provider(NFP), Network Service Provider(NSP) and Application Service Provider (ASP). With these licenses we are now offering Value Added Services that expands our customer horizon and ensures continuous revenue stream. Such services includes internet access (fixed and wireless), telephony, infrastructures (includes fiber, copper and tower building).</p>
                    <p>The team that build this company has vast experience on each individual expert areas. Together, KUBtel-team has deployed many nationwide roll-out and also aggressively supporting our customers to the most stringent requirement of a telecommunication grade services.</p>
                </div>
            </content>
        </div>
        <div>
            <div class="title-v1">
                <h2>Vision & Mission</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 sm-margin-bottom-50">
                    <div class="service-block-default service-block-v8">
                        <div class="service-block-desc">
                            <i class="icon-rocket" style="float: left;"></i><h3><b>Our vision</b></h3>
                            <p>To become premier ICT Solution Provider & System Integrator in Malaysia and Asian Region</p>
                            <p>To be The Premier ICT Solution Provider within Malaysia and the Asian Region through the following values:-</p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green" style="float:none"></i> Customer Centric Service</li>
                                <li><i class="fa fa-check color-green" style="float:none"></i> Excellence Quality</li>
                                <li><i class="fa fa-check color-green" style="float:none"></i> Professionalism</li>
                                <li><i class="fa fa-check color-green" style="float:none"></i> Innovativeness & Competitiveness</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20">
                    <div class="service-block-default service-block-v8">
                        <div class="service-block-desc">
                            <i class="icon-bubbles" style="float: left;"></i><h3><b>Our mission</b></h3>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green" style="float:left"></i><p>Transforming ICT group under KUBTel into a high performance organization with positive image and industry recognition.</p></li>
                                <li><i class="fa fa-check color-green" style="float:left"></i><p>Striving for continuous improvement in service delivery and fulfil customer expectations.</p></li>
                                <li><i class="fa fa-check color-green" style="float:left"></i><p>Establishing a one-stop centre for ICT solutions to cater for all needs of our internal and external customers</p></li>
                                <li><i class="fa fa-check color-green" style="float: left;"></i><p> To transform KUBTel group into a high value profitable organization with high image and industry recognition.</p></li>
                                <li><i class="fa fa-check color-green" style="float: left;"></i><p> To establish a one-stop centre for ICT solutions to cater for all needs of our customers and partners.</p></li>
                                <li><i class="fa fa-check color-green" style="float: left;"></i><p> To extend market reach ability in Malaysia and the Asian Region by:</p></li>
                                <li style="float:none">
                                    <ul class="list-unstyled1">
                                        <li><i class="fa fa-check color-green" style="float: left;"></i><p> Establishing branches</p></li>
                                        <li><i class="fa fa-check color-green" style="float: left;"></i><p> Establishing smart partnership</p></li>
                                        <li><i class="fa fa-check color-green" style="float: left;"></i><p> Investing in strategic business opportunities within the area.</p></li>
                                    </ul>
                                </li>
                                <li><i class="fa fa-check color-green" style="float: left;"></i><p> To continuously improve business and operation efficiencies and to increase competitiveness at all times and levels</p></li>
                                <li><i class="fa fa-check color-green" style="float: left;"></i><p> To fulfill all customer expectations and to achieve total customer satisfaction at all times.</p></li>
                                <li><i class="fa fa-check color-green" style="float: left;"></i><p> To create excellent working culture and environment while ensuring regular practice of professionalism at all times.</p></li>
                                <li><i class="fa fa-check color-green" style="float: left;"></i><p> To nurture innovations and encourage competitiveness throughout the organization.</p></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="title-v1">
                <h2>KUBTel Leadership</h2>
            </div>
            <div id="grid-container" class="cbp-l-grid-gallery">
                <div class="cbp-item ceo">
                    <a class="cbp-caption cbp-singlePageInline"
                       data-title="World Clock Widget<br>by Paul Flavius Nechita">
                        <div class="cbp-caption-defaultWrap">
                            <img class="img-responsive full-width" src="~/images/shahrin.jpg" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-desc">Chief Executive Officer</div>
                                    <div class="cbp-l-caption-title text-uppercase">Mohd Shahrin Mohammad</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item hod">
                    <a class="cbp-caption cbp-singlePageInline"
                       data-title="Bolt UI<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img class="img-responsive full-width" src="~/images/Vin's.jpg" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-desc">CEO/Country Manager (International Business)</div>
                                    <div class="cbp-l-caption-title text-uppercase">Adam Vin</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item hod">
                    <a class="cbp-caption cbp-singlePageInline"
                       data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img class="img-responsive full-width" src="~/images/jafri.jpg" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-desc">Head of Sales (Telco)</div>
                                    <div class="cbp-l-caption-title text-uppercase">Muhammad Jafri Zainal</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item hod">
                    <a class="cbp-caption cbp-singlePageInline"
                       data-title="Bolt UI<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img class="img-responsive full-width" src="~/images/jamil.JPG" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-desc">Head Project Delivery</div>
                                    <div class="cbp-l-caption-title text-uppercase">Mohd Jamil Tauhid</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item hod">
                    <a class="cbp-caption cbp-singlePageInline"
                       data-title="WhereTO App<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img class="img-responsive full-width" src="~/images/photonotavailable.jpg" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-desc">Head of Finance &amp; Accounts</div>
                                    <div class="cbp-l-caption-title text-uppercase">Norliza Junid</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item hod">
                    <a class="cbp-caption cbp-singlePageInline"
                       data-title="iDevices<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img class="img-responsive full-width" src="~/images/efdza.jpg" alt="" />
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-desc">Head Support Services</div>
                                    <div class="cbp-l-caption-title text-uppercase">Efdza Nizam</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <content>
                <div class="title-v1">
                    <h2>Access Reference Document</h2>
                </div>
                <div class="col-md-12">
                    <p>The Access Reference Document (ARD) is publicised on this website pursuant to the Commission Determination on the Mandatory Standard on Access, issued by the Suruhanjaya Komunikasi dan Multimedia Malaysia (SKMM).</p>
                    <p>ARD contains general terms and conditions on access to KUBTel's network facilities and/or network services by other telecommunications operators licensed under the Communications and Multimedia Act 1998.</p>
                    <p></p>
                    <p><a id="DownloadPDF" class="btn-u rounded">Click Here For ARD</a></p>
                </div>
            </content>
        </div>
    </div>
</section>
<!-- Product Section -->
<section id="product">
    <div class="tag-box tag-box-v2"><h2>Product</h2></div>
    <div class="container">
        <div class="title-v1">
            <h2>Our Product</h2>
            We do <strong>things</strong> differently company providing key services. <br>
            Focused on helping our clients to build a <strong>successful</strong> business on web and ICT technology.
        </div>

        <!-- Accordion v1 -->
        <div class="row margin-bottom-30">
            <div class="col-sm-6">
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a1" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    Our Technological Edge
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>KUBTel is a leader in communications because of our knowledge and experience: We have the skills and expertise to offer the right technologies that fit Malaysia’s unique environment, to choose the right products for the marketplace, and to recommend the right solutions to meet the needs of our customers.</p>
                                        <p>We scour global markets for the best and newest communications innovations. We painstakingly evaluate potential products and we recommend the ideal ways to use and combine products into effective communications systems that best meet the needs of our clients and their customers. Telekom Malaysia, Perbandanan Putrajaya, FELCRA Berhad, Universiti Malaya Medical Centre, Universiti Sains Malaysia, the Ministry of Information and the Ministry Education are just a few of Malaysia’s leading agencies which have put their trust in KUBTel’s communications solutions.</p>
                                        <p>In addition to handpicking the best of international technologies, KUBTel has also developed its own expertise in software engineering. Our homegrown software applications such as the Predictive Dialer System have been implemented by leading companies like Telekom Malaysia for optimal customer relationship management.</p>
                                        <p>But our work doesn’t end once we hand the system over. KUBTel customers enjoy an exceptional level of after-sales support and service. Following installation of the complex systems we design, dedicated engineering teams coach operators and offer reliable maintenance and support services and rapid trouble-shooting in the rare event of problems.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a2" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                    Switching System
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><b>FETEX-150</b></p>
                                        <div class="col-md-6">
                                            <p>System Engineering</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> System Design</li>
                                                <li><i class="fa fa-check color-green"></i> Data Generation(DGN)</li>
                                                <li><i class="fa fa-check color-green"></i> Testing & Commissioning</li>
                                                <li><i class="fa fa-check color-green"></i> Software Support</li>
                                                <li><i class="fa fa-check color-green"></i> Operation &amp; Maintenance (O&amp;M)</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Installation</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> Installation Design </li>
                                                <li><i class="fa fa-check color-green"></i> Physical Installation Fetex 150</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p><b>Operation & Maintenance Services</b></p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Maintenance Services for Telephone Exchanges providing</li>
                                            <li><i class="fa fa-check color-green"></i> Maintenance Services and Support for FETEX-150 Exchanges</li>
                                            <li><i class="fa fa-check color-green"></i> (Currently Servicing 1.3 million lines) </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-6">
                                            <p><b>Mandatory Services</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> N Help Desk</li>
                                                <li><i class="fa fa-check color-green"></i> N Emergency Support</li>
                                                <li><i class="fa fa-check color-green"></i> N Hardware Support</li>
                                                <li><i class="fa fa-check color-green"></i> N Software Support</li>
                                                <li><i class="fa fa-check color-green"></i> N Web-Tool</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <p><b>Optional Services</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> N Training</li>
                                                <li><i class="fa fa-check color-green"></i> N Preventive Support</li>
                                                <li><i class="fa fa-check color-green"></i> N On-Site Support</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a3" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                    SDH/DWDM
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Supply and Provide Engineering Services of Synchronous Digital Hierarchy (SDH) and Dense Wavelength Division Multiplexing (DWDM) Equipment</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/images/products-services-sdhdwdm-01.jpg" alt="" />
                                    </div>
                                    <div class="col-md-offset-4">
                                        <div class="col-md-12">
                                            <p><b>Supply of Equipment / EMS</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> System Design </li>
                                                <li><i class="fa fa-check color-green"></i> EMS </li>
                                                <li><i class="fa fa-check color-green"></i> Documentation </li>
                                            </ul>
                                            <p><b>Engineering Services</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> Site Survey </li>
                                                <li><i class="fa fa-check color-green"></i> Installation </li>
                                                <li><i class="fa fa-check color-green"></i> Testing / Commissioning </li>
                                                <li><i class="fa fa-check color-green"></i> Documentation </li>
                                            </ul>
                                            <p><b>Project Management</b></p>
                                            <p><b>Training</b></p>
                                            <p><b>After Sales Support</b></p>
                                            <p><b>Operation & Maintenance Services</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a4" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                    IPDSLAM
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Four" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>IPDSLAM stands for Internet Protocol Digital Subscriber Line Multiplexer. At present together with Alcatel Lucent, we have delivered 5000 Network Element equipments, numbering 140,000 ports to TM Berhad. </p>
                                <p>A Digital Subscriber Line Access Multiplexer (DSLAM, often pronounced dee-slam) allows telephone lines to make faster connections to the Internet. It is a network device, located in the telephone exchanges of the service providers, that connects multiple customer Digital Subscriber Lines (DSLs) to a high-speed Internet backbone line using multiplexing techniques.[1] By placing remote DSLAMs at locations remote to the telephone exchange, telephone companies provide DSL service to locations previously beyond effective range.** In turn it allows TM Berhad to offer its streamyx services via it DEL fixed lines to its users for its broadband services. </p>
                                <p>Traditional 20th century DSLAM used Asynchronous Transfer Mode (ATM) technology to connect to upstream ATM routers/switches. These devices then extract the IP traffic and pass it on to an IP network. IP-DSLAMs extract the IP traffic at the DSLAM itself. Thus it is all IP from there. Advantage of IP-DSLAM over a traditional ATM DSLAM is in terms of lower capital expenditure and operational expenditure and a richer set of features and functionality.**</p>
                                <p>IPDSLAM is a continuation of ATM based DSLAM for which we have started to render our solution and services with Lucent Technologies back in year 2001 and enabling nearly 800 NEs (via ATM based) to TM Berhad. To date we have delivered almost 1250 IPDSLAMs and counting, to TM Berhad, and in turn realizing 200,000 ports to TM streamyx customers.</p>
                                <p>Our total project value for the IPDSLAMs totaling more than RM100 million has shown our commitment to deliver the said solution to TM.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a5" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Five">
                                    DSLAM & RDSLAM
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Five" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Supply and Provide Engineering Services of Digital Subscriber Line Access Multiplexer System (DSLAM)</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/images/products-services-dslam-01.jpg" alt="" />
                                    </div>
                                    <div class="col-md-offset-4">
                                        <div class="col-md-12">
                                            <p><b>Supply of Equipment / EMS</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> System Design </li>
                                                <li><i class="fa fa-check color-green"></i> EMS </li>
                                                <li><i class="fa fa-check color-green"></i> Documentation </li>
                                            </ul>
                                            <p><b>Engineering Services</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> Site Survey </li>
                                                <li><i class="fa fa-check color-green"></i> Installation </li>
                                                <li><i class="fa fa-check color-green"></i> Testing / Commissioning </li>
                                                <li><i class="fa fa-check color-green"></i> Documentation </li>
                                            </ul>
                                            <p><b>Project Management</b></p>
                                            <p><b>Training</b></p>
                                            <p><b>After Sales Support</b></p>
                                            <p><b>Operation & Maintenance Services</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a6" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Six">
                                    BFWA / WILL
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Six" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Supply and Provide Engineering Services of Broadband Fixed Wireless Access System (BFWA)</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/images/products-services-bfwa-01.jpg" alt="" />
                                    </div>
                                    <div class="col-md-offset-4">
                                        <div class="col-md-12">
                                            <p><b>Supply of Equipment / EMS</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> System Design </li>
                                                <li><i class="fa fa-check color-green"></i> EMS </li>
                                                <li><i class="fa fa-check color-green"></i> Documentation </li>
                                            </ul>
                                            <p><b>Engineering Services</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> Site Survey </li>
                                                <li><i class="fa fa-check color-green"></i> Installation </li>
                                                <li><i class="fa fa-check color-green"></i> Testing / Commissioning </li>
                                                <li><i class="fa fa-check color-green"></i> Documentation </li>
                                            </ul>
                                            <p><b>Project Management</b></p>
                                            <p><b>Training</b></p>
                                            <p><b>After Sales Support</b></p>
                                            <p><b>Operation & Maintenance Services</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel-group acc-v1" id="accordion-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a7" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-Seven">
                                    SDH Radio
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Seven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Supply and Provide Engineering Services of Synchronous Digital Hierarchy (SDH) Radio System and Its Element Management System (EMS)</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/images/products-services-sdhradio-01.jpg" alt="" />
                                    </div>
                                    <div class="col-md-offset-4">
                                        <div class="col-md-12">
                                            <p><b>Supply of Equipment / EMS</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> System Design </li>
                                                <li><i class="fa fa-check color-green"></i> EMS </li>
                                                <li><i class="fa fa-check color-green"></i> Documentation </li>
                                            </ul>
                                            <p><b>Engineering Services</b></p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-check color-green"></i> Site Survey </li>
                                                <li><i class="fa fa-check color-green"></i> Installation </li>
                                                <li><i class="fa fa-check color-green"></i> Testing / Commissioning </li>
                                                <li><i class="fa fa-check color-green"></i> Documentation </li>
                                            </ul>
                                            <p><b>Project Management</b></p>
                                            <p><b>Training</b></p>
                                            <p><b>After Sales Support</b></p>
                                            <p><b>Operation & Maintenance Services</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a8" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-Eight">
                                    Metro - Ethernet
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Eight" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>In the year 2006 we started to provide Metro Ethernet solution to TM Berhad. Together with our esteem partner Huawei Technology, we have managed to deliver a total of RM60 million worth of Metro Ethernet solutions to TM Berhad in our first contract. Our solutioning includes both hardware and software; we have adequate expertise to support TM at any given time on Metro Ethernet solutions.</p>
                                        <p>A Metro Ethernet is a computer network based on the Ethernet standard and which covers a metropolitan area. It is commonly used as a metropolitan access network to connect subscribers and businesses to a Wide Area Network, such as the Internet. Large businesses can also use Metro Ethernet to connect branch offices to their Intranets.</p>
                                        <p>Ethernet has been a well known technology for decades. An Ethernet interface is much less expensive than a SDH or PDH interface of the same bandwidth. Ethernet also supports high bandwidths with fine granularity, which is not available with traditional SDH connections. Another distinct advantage of an Ethernet-based access network is that it can be easily connected to the customer network, due to the prevalent use of Ethernet in corporate and, more recently, residential networks. Therefore, bringing Ethernet in to the Metropolitan Area Network (MAN) introduces a lot of advantages to both the service provider and the customer (corporate and residential).</p>
                                        <b>Metro Ethernet system</b>
                                        <p>A typical service provider Metro Ethernet network is a collection of Layer 2 or 3 switches or routers connected through optical fiber. The topology could be a ring, hub-and-spoke (star), full mesh or partial mesh. The network will also have a hierarchy; core, distribution and access. The core in most cases is an existing IP/MPLS backbone, but may migrate to newer forms of Ethernet Transport in the form of 10G or 100G Road to 100G speeds. “**</p>
                                        <p>Since our first contract to TM Berhad in 2006, we have also delivered in total RM164 million projects related to Metro Ethernet solution to TM Berhad. We have adequate manpower nationwide to ensure our deliverables are met within the RFS dates set forth by our esteem customers TM Berhad.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a9" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-Nine">
                                    Residential Gateway
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Nine" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>A residential gateway is a home networking device, used as a gateway to connect devices in the home to the Internet or other WAN.</p>
                                        <p>It is an umbrella term, used to cover multi-function networking computer appliances used in homes, which may combine a DSL modem or cable modem, a network switch, providing LAN switching, a consumer-grade router, and a wireless access point. In the past, such functions were provided by separate devices, but by technological convergence, they have often merged into a single device.*</p>
                                        <p>Recently we were awarded RM23 million to supply the Residential Gateway for TM HSBB project. Together with our partner DLINK International, we have proven that KUB Telekomunikasi Sdn Bhd is able to offer and supply quality products to TM Berhad. </p>
                                        <p>We are looking for 2010 to deliver nearly 200,000 RG to TM Berhad customers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a10" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-Ten">
                                    RTM Digital TV
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Ten" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Pilot DVB-T Digital Terrestrial Television Broadcasting (DTTB) System.</p>
                                        <p>In 2005 we were awarded a project to provide Pilot Digital Terrestrial Television services for Radio Television Malaysia (RTM). The project involved 2000 viewers within Klang Valley which is the target area for the pilot project. New digital set-up for RTM was also provided. The set-up consist of Technical Operation Center, Production Operation Center, Content Creation Center, Transmission Operation Center and Transmission Center.</p>
                                        <p>A study was done on the digital pilot project to provide RTM with the necessary information to move forward with its total digitalization of RTM. After the success of this project RTM has embarked on their total digitalization of its TV channels (RTM 1 and RTM 2). Currently, all RTM TV channels has been migrated from the analogue production to digital production.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a11" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-Eleven">
                                    Bangladesh Projects
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Eleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/images/under-construction.gif" alt="" />
                                        <p>Under Construction.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="a12" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-Twelve">
                                    Other Projects
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Twelve" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Apart from IPDSLAM and Metro Ethernet projects, we have also initiated projects with other government ministry such as Ministry of Education and Ministry of Information. Under the PPSMI6 project, we have delivered, total solution worth RM158 million to Ministry of Education in 2008, and hopes to secure further projects with the Ministry in the future.</p>
                                        <p>For this particular project we worked closely with our sister company Empirical Systems Sdn Bhd, and together were able to complete and deliver the project within the stipulated delivery dates.</p>
                                        <p>Under the Digital TV project for RTM (Radio Television Malaysia), we have also undertaken a further RM80 million worth of projects to our customer. We have also undertaken several projects in the oversea market, and recent engagement was delivering services and maintenance to Aktel, Bangladesh, a subsidiary of Axiata.</p>
                                        <p>Recently we have also been engaged in the OSS NCOM project for TM and nearing completion by end of the year for ,both NEC and Alcatel based equipments.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Accordion v1 -->
    </div>
</section>
<!-- End Product Section -->
<!-- Services Section -->
<section id="services">
    <div class="tag-box tag-box-v2"><h2>Services</h2></div>
    <div class="container">
        <div class="title-v1">
            <h2>Our Services</h2>
        </div>
        <div class="row margin-bottom-30">
            <div class="col-sm-6 sm-margin-bottom-50">
                <div class="service-block-default service-block-v8">
                    <div class="service-block-desc">
                        <i class="icon-rocket" style="float:left"></i><h3><b>Maintenance</b></h3>
                        <p>Under maintenance we provide both Preventive and Remedial Maintenance to our customers. As our main customer TM Berhad, can vouched for our services rendered to them in various projects including our IP DSLAM and Metro Ethernet project currently provided. Our Remedial maintenance varies from contract that we have committed to our customers.</p>
                        <p>In general our response time to TM Berhad is within 2 hours for Peninsular support and 4 hours for Sabah & Sarawak. Under Remedial Maintenance upon issuance or AR (Assistance Request) from our customer, our call centre will logged the request and immediately will assigned our trained staff to located via NMS, or directly resolving the maintenance issues. If it is related to hardware failure, our O&amp;M( Operation and Maintenance) staff at the respective locations, will be sent to rectify and restore the faulty equipments.</p>
                        <p>Periodically we are also required to perform Preventive Maintenance to our customers, these includes both to TM Berhad, Ministry of Education and RTM. The maintenance contract to date amounts to about RM20 million spread over 3 to 5 years depending on the Term & Condition of the various Agreement received.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-bottom-20">
                <div class="service-block-default service-block-v8">
                    <div class="service-block-desc">
                        <i class="icon-bubbles" style="float:left"></i><h3><b>Engineering Services</b></h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-green"></i> <b>Installation</b>  </li>
                            <content>
                                <p>Apart from supplying the various hardware equipment, we are also responsible to ensure that these equipments from RTDSLAM to IPDSLAMS are installed according to the requirements of various PTT from TM Berhad. Similarly some of these locations are delegated to our experience support partners throughout Malaysia to ensure that all RFS (Ready For Service) dates are within the stipulated timeline.</p>
                                <p>As with our ongoing Metro Ethernet projects, equipments are divided into 3 categories, UPE (User Premise Equipment), EPE (Exchange Premise Equipment) and lastly NPE (Network Premise Equipment), all these are carefully identified and together with TM personnel, the Engineering Services and Installations are done at TM customers and at TM designated locations.</p>
                            </content>
                            <li><i class="fa fa-check color-green"></i> <b>Testing</b> </li>
                            <content><p>Upon completion of Engineering Services and Installation, our tester teams will be deployed to conduct testing base on the various project in hand. These testing normally will take place together with TM staffs as they will need to signoff and verify the COA (Certificate of Acceptance).</p></content>
                            <li><i class="fa fa-check color-green"></i> <b>Commissioning</b> </li>
                            <content><p>Once the equipments are commissioned and certified by TM, our Installation and Commissioning process completes.</p></content>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
