@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageHeader medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/5-Career2.jpg"));">
    <div class="container">
        <center><h1 class="g-font-weight-600 g-line-height-1_4">Careers</h1></center>
    </div>
</div>

<div class="section" style="padding-top: 30px;">
    <div class="container">
        <div class="row center-align">


            <div class="col s12 m4">
                <div class="row">
                    <div class="col s12">
                        <img src="~/Images/employee.jpg" class="medium-bottom-margin" style="width: 100%" />
                    </div>
                    <div class="col s12">
                        <div class="big-normal-title center-align"><strong>Employee Career</strong></div>
                        <p class="center-align">Be the best that you can be and discover how much you can achieve with Mesiniaga. Join us to live the Mesiniaga experience. </p>
                        <a href="~/Events/EmployeeCareer" class="text-btn">
                            <i class="fa fa-arrow-right arrow-change2" aria-hidden="true"></i>
                            <span>Learn More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="row">
                    <div class="col s12">
                        <img src="~/Images/internship1.jpg" class="medium-bottom-margin" style="width: 100%" />
                    </div>
                    <div class="col s12">
                        <div class="big-normal-title center-align"><strong>Internship Opportunities</strong></div>
                        <p class="center-align">Our internship programme provides opportunity to learn from the best and gain insights into the working world. Discover what our interns had to say about us. </p>
                        <a href="~/Events/InternshipOpportunities" class="text-btn">
                            <i class="fa fa-arrow-right arrow-change2" aria-hidden="true"></i>
                            <span>Learn More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>