@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" pageHeader medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/pic/Intergration.jpg"));">
    <center><h1 class="g-color-white g-font-weight-600 g-line-height-1_4">Employee Career</h1></center>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <div id="shortcode3">
                <div class="shortcode-html">
                    <!-- Box Shadow -->
                    <div class="g-bg-lightblue-radialgradient-ellipse g-line-height-2 g-pa-40 g-mb-30" role="alert" style="height:310px">
                        <h3 class="h2 g-font-weight-300 g-mb-20">Succession Training</h3>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 "></i><p>Succession training is when a company identifies employees with managerial or executive skills and works with the employees to develop those skills. When a company creates a succession training program, there are always new managers being developed who someday will guide the company's future. It prevents the company from having to look outside the organization for management talent. The company can develop a program that sustains the corporate culture and makes sure the core values of the company are maintained when new managers take over.</p>
                    </div>
                    <!-- End Box Shadow -->
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="shortcode4">
                <div class="shortcode-html">
                    <!-- Box Shadow -->
                    <div class="g-bg-lightblue-radialgradient-ellipse g-line-height-2 g-pa-40 g-mb-30" role="alert" style="height:310px">
                        <h3 class="h2 g-font-weight-300 g-mb-20">Off-Site Training</h3>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 "></i><p>Training seminars or classes offered outside your company that are pertinent to staff development can help your employees hear ideas from an objective third-party trainer. It can help to spur new ideas and help your company come up with creative solutions to ongoing issues.</p>
                    </div>
                    <!-- End Box Shadow -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div id="shortcode3">
                <div class="shortcode-html">
                    <!-- Box Shadow -->
                    <div class="g-bg-lightblue-radialgradient-ellipse g-line-height-2 g-pa-40 g-mb-30" role="alert" style="height:310px">
                        <h3 class="h2 g-font-weight-300 g-mb-20">Supervisor Contact</h3>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 "></i><p>Strengthening the working bond between employees and supervisors not only improves productivity, but it also creates an on-the-job training environment, note Mark A. Royal and Rebecca Masson, writing on the Human Resource Executive Online website. Supervisors who make it a point to spend time with employees each day offer advice and insight that is valuable to the career development of each staff member.</p>
                    </div>
                    <!-- End Box Shadow -->
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="shortcode4">
                <div class="shortcode-html">
                    <!-- Box Shadow -->
                    <div class="g-bg-lightblue-radialgradient-ellipse g-line-height-2 g-pa-40 g-mb-30" role="alert" style="height:310px">
                        <h3 class="h2 g-font-weight-300 g-mb-20">Career Paths</h3>
                        <i class="d-inline-block g-color-primary mr-2 mb-3 "></i><p>
    Training is an essential part of employee development, but without a career path your employees do not have a plan for advancement within the company. Your human resources group and departmental managers should be working constantly to identify ongoing company needs and use those needs to create career opportunities for your staff. A dynamic approach to establishing career paths allows the company to benefit from the employee developmental activities that employees are offered.</p>
                    </div>
                    <!-- End Box Shadow -->
                </div>
            </div>
        </div>
    </div>
</div>