@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="pageHeader medium-bottom-margin" style=" background-image: url(@Url.Content("~/Images/6-contactus.jpeg"));">
    <center><h1 class="g-color-white g-font-weight-600 g-line-height-1_4">Contact Us</h1></center>
</div>*@

<div class="container-fluid">
    <div class="g-bg-img-hero g-bg-pos-top-center" style="background-image: url(@Url.Content("~/Images/cloud.jpg"));">
        <div class="container g-pt-100 g-pb-20">
            <!-- Heading -->
            <div class="g-max-width-645 text-center mx-auto g-mb-40">
                <h1 class="g-color-white g-font-weight-600 g-line-height-1_4 g-mb-40">CONTACT US</h1>@*g-font-size-40--md mb-4*@
                <p>Our team is happy to answer your questions. Fill out the form and we’ll be in touch as soon as possible.</p>
            </div>
            <!-- End Heading -->
            <div class="row justify-content-lg-center align-items-center">
                <div class="col-md-8 col-lg-7 g-mb-50">
                    <!-- Contact Form -->
                    <form class="u-shadow-v35 g-bg-white rounded g-px-40 g-py-50">
                        <!-- Name Input -->
                        <div class="row align-items-center mb-4">
                            <div class="col-lg-4">
                                <label class="g-font-weight-500 g-font-size-16">Name:</label>
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control g-brd-none g-bg-secondary g-bg-secondary-dark-v1--focus rounded g-px-20 g-py-12" type="text" placeholder="name...">
                            </div>
                        </div>
                        <!-- End Name Input -->
                        <!-- Name Input -->
                        <div class="row align-items-center mb-4">
                            <div class="col-lg-4">
                                <label class="g-font-weight-500 g-font-size-16">Email Address:</label>
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control g-brd-none g-bg-secondary g-bg-secondary-dark-v1--focus rounded g-px-20 g-py-12" type="email" placeholder="email...">
                            </div>
                        </div>
                        <!-- End Name Input -->
                        <!-- Name Input -->
                        <div class="row align-items-center mb-4">
                            <div class="col-lg-4">
                                <label class="g-font-weight-500 g-font-size-16">Phone Number:</label>
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control g-brd-none g-bg-secondary g-bg-secondary-dark-v1--focus rounded g-px-20 g-py-12" type="text" placeholder="phone number...">
                            </div>
                        </div>
                        <!-- End Name Input -->
                        <!-- Name Input -->
                        <div class="row align-items-center mb-4">
                            <div class="col-lg-4">
                                <label class="g-font-weight-500 g-font-size-16">Subject:</label>
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control g-brd-none g-bg-secondary g-bg-secondary-dark-v1--focus rounded g-px-20 g-py-12" type="text" placeholder="subject...">
                            </div>
                        </div>
                        <!-- End Name Input -->
                        <!-- Name Input -->
                        <div class="row mb-4">
                            <div class="col-lg-4">
                                <label class="g-font-weight-500 g-font-size-16">Message:</label>
                            </div>
                            <div class="col-lg-8">
                                <textarea class="form-control g-brd-none g-bg-secondary g-bg-secondary-dark-v1--focus rounded g-px-20 g-py-12" rows="5" placeholder="Message..."></textarea>
                            </div>
                        </div>
                        <!-- End Name Input -->
                        <div class="text-right">
                            <button type="submit" class="btn u-shadow-v33 g-color-white g-bg-primary g-bg-main--hover g-rounded-30 g-px-35 g-py-10">Submit</button>
                        </div>
                    </form>
                    <!-- End Contact Form -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Contacts -->
