@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageHeader g-bg-img-hero medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/4-partnerUs.jpg"));">
    <center><h1 class="g-color-white g-font-weight-600 g-line-height-1_4">PARTNERS</h1></center>
</div>

<div class="container-fluid">    
    <div class="u-shadow-v35 g-bg-img-hero g-bg-svg-bg1">
        <div class="container-fluid partners">
            <div class="row g-mb-20">
                <p class="g-font-size-16">
                    Technology is evolving faster than ever and organisations are struggling to keep pace. KUBtel can help you take the next steps on your ICT roadmap to ensure your organisation is where it needs to be.
                    Our expertise and experience in delivering ICT solutions to meet client requirements across all vertical sectors allowing us to fully understand the challenges and pressures.
                    KUBtel works with and holds accreditations across the world’s technology leaders enabling us to maintain an independent approach to ensure our clients acquire the right solutions for their specific needs.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="title-v1 g-mb-20">
                        <h2>Our Clients</h2>
                    </div>
                    <div id="shortcode2" class="g-mb-40">
                        <div class="shortcode-html">
                            <div class="js-carousel g-pb-20" data-autoplay="true" data-slides-show="3" data-slides-scroll="2" data-infinite="true" data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 4
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 576,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/axiata.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/bsn.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/celcom.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/cidb.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/eperolehan.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/kementerian_pelajaran.png" alt="Image Description">
                                </div>
                            </div>
                            <div class="js-carousel g-pb-20" data-autoplay="true" data-slides-show="3" data-slides-scroll="2" data-infinite="true" data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 4
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 576,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/ktm.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/kwsp-logo.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/logotnb.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/maxis.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/mot.png" alt="Image Description">
                                </div>
                            </div>
                            <div class="js-carousel g-pb-20" data-autoplay="true" data-slides-show="3" data-slides-scroll="2" data-infinite="true" data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 4
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 576,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/Radio_Television_Malaysia.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/robi.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/skmm.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/tmlogo.png" alt="Image Description">
                                </div>
                                <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                    <img class="img-fluid mx-auto" src="~/Images/Partners/tv-alhijrah.png" alt="Image Description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-6">
                        <div class="title-v1 g-mb-20">
                            <h2>Our Partners</h2>
                        </div>
                        <div id="shortcode2" class="g-mb-40">
                            <div class="shortcode-html">
                                <div class="js-carousel g-pb-20" data-autoplay="true" data-slides-show="4" data-slides-scroll="4" data-infinite="true" data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 4
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 576,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
                                    <!--our partners-->
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/abs.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/adtran.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/agilent.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/alcatellucent.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/arbor.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/aspect.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/assia.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/ateme.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/atempo.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/avaya.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/cisco.png" alt="Image Description">
                                    </div>
                                </div>
                                <div class="js-carousel g-pb-20" data-autoplay="true" data-slides-show="4" data-slides-scroll="4" data-infinite="true" data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 4
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 576,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/contella.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/dascom.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/dell.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/dlink.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/ecs.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/ericsson.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/fujitsu.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/hpinvent.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/huawei.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/hyundai.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/Infovista.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/ingram-micro.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/ixia.png" alt="Image Description">
                                    </div>
                                </div>
                                <div class="js-carousel g-pb-20" data-autoplay="true" data-slides-show="4" data-slides-scroll="4" data-infinite="true" data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 4
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 576,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/lenovo.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/motorola.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/musicamusa.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/niagara.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/nokia-siemens.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/ntels.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/opnet.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/oracle.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/raisecom.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/ruckus.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/samwon.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/techmahindra.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/telcordia.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/teletronics.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/tellabs.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/tridium.png" alt="Image Description">
                                    </div>
                                    <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
                                        <img class="img-fluid mx-auto" src="~/Images/Partners/zte.png" alt="Image Description">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        </div>
</div>

                       