@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="pageHeader g-bg-img-hero medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/titlebackground.png"));">
    <center><h1 class="h2 g-color-white g-font-weight-600 g-line-height-1_4">OUR COMPANY</h1></center>
</div>

<div class="container-fluid">    
    @*<div class=" g-bg-lightblue-radialgradient-ellipse u-shadow-v1-5">*@
    <div class="u-shadow-v1-5 g-bg-img-hero g-bg-svg-bg1">
        <div class="g-pa-30 g-mb-30">
            <p class="g-font-size-16">As one of the prolific and thriving ICT companies in Malaysia, we have successfully supplied state-of-the-art technology infrastructure and communication solutions contracts worth over RM2 billion. Our systems are extensively being used to meet the communications needs of the education, transportation, telecommunications and information technology businesses in both government and private sectors.</p>
            <p class="g-font-size-16">KUBtel continually maintains an ISO 9001:2008 certification for each of its ICT systems integration, as well as for design and development. This certificate binds the company to provide any and all of its activities using international standardised methodologies in the highest possible quality available.</p>
            <p class="g-font-size-16">KUBtel has pioneered and implemented many of the advanced technologies solutions in the industry, including the powerful telephony and internet services for Telekom Malaysia Berhad; the automated fare collection systems for Keretapi Tanah Melayu Berhad (‘KTMB’) commuter stations; and the construction of the telecommunication towers for the Malaysian Communications Multimedia Commission (‘MCMC’).</p>
            <p class="g-font-size-16">KUBtel is a license holder for the MCMC, Network Facility Provider (‘NFP’), Network Service Provider (‘NSP’) and Application Service Provider (‘ASP’). Some of its services include Internet Access (fixed and wireless), Telephony and Infrastructures (fibre optics copper and tower building). </p>
            <p class="g-font-size-16">
                We provide a wide range of ICT solutions to hundreds of the most successful companies nationwide. Powered by a skilled and experienced workforce, KUBtel keeps abreast of emerging and evolving technologies, whilst achieving the successful delivery of proven and leading edge
                ICT solutions and services to our customers’ requirements and satisfaction.
            </p>
        </div>
    </div>
</div>
