@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageHeader g-bg-img-hero" style="background-image: url(@Url.Content("~/Images/1-leadership.jpg"));">
    <center><h1 class="g-color-white g-font-weight-600 g-line-height-1_4">KUBTEL LEADERSHIP</h1></center>
</div>

<div class="container-fluid">
    <div class="g-pt-10">
        <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-30 g-bg-svg-bg1">
            <div class="ms-staff-carousel ms-round g-mt-50">
                <div id="masterslider" class="master-slider ms-skin-default">
                    <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                        <img src="~/Images/azizul-pics.JPG" />
                        <div class="ms-info">
                            <h3 style="text-align: center;">
                                AZIZUL RAHMAN MOHD BASIR
                            </h3>
                            <div class="font-weight-bold" style="text-align: center;">
                                Vice President/Chief Executive Officer
                            </div>
                            @*<div style="text-align: center;">
                                He has been appointed as Vice President/ CEO of KUB Telekomunikasi Sdn Bhd effective 1st June 2017.
                                He holds a Bachelor of Science (Telecommunications and Networks) from University of Paris, France and Diploma in Telecommunication and Networks from University of Joseph Fourier, France.
                                He possesses more than 15 years working experience in telecommunication and network field and has held managerial positions in area of Sales and Business Development, Risk Management, Corporate Compliance, Business Process Management, Business Advisory and Corporate Strategy.
                            </div>*@
                        </div>
                    </div>
                    <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                        <img src="~/Images/Hozir.jpg" />
                        <div class="ms-info">
                            <h3 style="text-align: center;">
                                AHMAD HOZIR AMIR HAMZAH
                            </h3>
                            <div class="font-weight-bold" style="text-align: center;">
                                Head of Enterprise Division
                            </div>
                            @*<div style="text-align: center;">
                                He has been appointed as Head of Enterprise Division of KUB Telekomunikasi Sdn Bhd effective December 2017.
                                He holds a Bachelor of Marketing from University of Lincoln, UK and MBA, General from Malaysia National University.
                                He possesses more than 18 years working experience in ICT field and has held managerial &amp; director positions in multiple area of business trees.
                            </div>*@
                        </div>
                    </div>
                    <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                        <img src="~/Images/jafri.jpg" />
                        <div class="ms-info">
                            <h3 style="text-align: center;">
                                MUHAMMAD JAFRI ZAINAL
                            </h3>
                            <div class="font-weight-bold" style="text-align: center;">
                                Head of Telco TM, Celco Division
                            </div>
                        </div>
                    </div>
                    <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                        <img src="~/Images/norliza.png" />
                        <div class="ms-info">
                            <h3 style="text-align: center;">
                                NORLIZA JUNID
                            </h3>
                            <div class="font-weight-bold" style="text-align: center;">
                                Head, Project Management Office
                            </div>
                        </div>
                    </div>
                    <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                        <img src="~/Images/rohazliza.jpg" />
                        <div class="ms-info">
                            <h3 style="text-align: center;">
                                ROHAZLIZA GHAZALI
                            </h3>
                            <div class="font-weight-bold" style="text-align: center;">
                                Senior Manager, Finance, Procurement and Logistic Dept.
                            </div>
                        </div>
                    </div>
                    <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                        <img src="~/Images/Vin's.jpg" />
                        <div class="ms-info">
                            <h3 style="text-align: center;">
                                ADAM VIN
                            </h3>
                            <div class="font-weight-bold" style="text-align: center;">
                                Acting Head of Business Development & Strategic Planning Div.
                            </div>
                        </div>
                    </div>
                    <div class="ms-slide" data-delay="3" data-fill-mode="fill">
                        <img src="~/Images/L Anizan.jpg" />
                        <div class="ms-info">
                            <h3 style="text-align: center;">
                                L ANIZAN ABDULLAH
                            </h3>
                            <div class="font-weight-bold" style="text-align: center;">
                                Human Resource & Administration Dept.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


