@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageHeader g-bg-img-hero medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/1-our-mission.jpg"));">
    <center><h1 class="g-color-white g-font-weight-600 g-line-height-1_4">VISION & MISSION</h1></center>
</div>
  
<div class="container-fluid">   
    <div class="row">
        <div class="col-lg">
            <div id="shortcode3">
                <div class="shortcode-html">
                    <!-- Box Shadow -->
                    <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-40 g-mb-30 g-bg-svg-bg1" role="alert">
                        <h3 class="h2 g-font-weight-300 g-mb-20">Our vision</h3>
                        <ul class="list-unstyled">
                            <li>
                                <div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                    <p class="g-pl-20--md g-pl-20--xs">
                                        To become premier ICT Solution Provider & System Integrator in Malaysia and Asian Region
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Box Shadow -->
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="shortcode4">
                <div class="shortcode-html">
                    <!-- Box Shadow -->
                    <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-40 g-mb-30 g-bg-svg-bg1" role="alert">
                        <h3 class="h2 g-font-weight-300 g-mb-20">Our mission</h3>
                        <ul class="list-unstyled">
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                    <p class="g-pl-40--md g-pl-20--xs">
                                        Transforming ICT group under KUBtel into a high performance organization with positive image and industry recognition.
                                    </p>
                                </div>
                            </li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                    <p class="g-pl-20--md g-pl-20--xs">
                                        Striving for continuous improvement in service delivery and fulfil customer expectations.
                                    </p>
                                </div>
                            </li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                                    <p class="g-pl-40--md g-pl-20--xs">
                                        Establishing a one-stop centre for ICT solutions to cater for all needs of our internal and external customers
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Box Shadow -->
                </div>
            </div>
        </div>
    </div>
</div>

            