@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageHeader g-bg-img-hero medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/oursite.jpg"));">
    <center><h1 class="g-color-white g-font-weight-600 g-line-height-1_4">SITE OFFICE</h1></center>
</div>

<div class="container-fluid">
    <div class="g-mb-30">
        <img class="fullwidth responsive-img container-fluid" src="~/images/Site Offices.png" alt="" />
    </div>
    <div class="row margin-bottom-30">
        <div class="col-lg">
            <div id="shortcode3">
                <div class="shortcode-html">
                    <!-- Box Shadow -->
                    <div class="u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-pa-40 g-mb-30 g-bg-svg-bg1" role="alert">
                        <div class="icon-westmalaysia" style="float:left"></div>
                        <h3><b>WEST MALAYSIA</b></h3>
                        <ul class="list-unstyled">
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">1. </i><p>CENTRAL-SHAH ALAM, SELANGOR</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">2. </i><p>ALOR SETAR, KEDAH</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">3. </i><p>IPOH, PERAK</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">4. </i><p>AYER KEROH, MELAKA</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">5. </i><p>JOHOR BAHRU, JOHOR</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">6. </i><p>BATU PAHAT, JOHOR</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">7. </i><p>KOTA BHARU, KELANTAN</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">8. </i><p>KUALA TERENGGANU, TERENGGANU</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">9. </i><p>KUANTAN, PAHANG</p></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="shortcode3">
                <div class="shortcode-html">
                    <!-- Box Shadow -->
                    <div class="u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-pa-40 g-mb-30 g-bg-svg-bg1" role="alert">
                        <div class="icon-eastmalaysia" style="float:left"></div>
                        <h3><b>EAST MALAYSIA</b></h3>
                        <ul class="list-unstyled">
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">1. </i><p>KUCHING, SARAWAK</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">2. </i><p>MIRI, SARAWAK</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">3. </i><p>BINTULU, SARAWAK</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">4. </i><p>SIBU, SARAWAK</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">5. </i><p>KOTA KINABALU, SABAH</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">6. </i><p>TAWAU, SABAH</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">7. </i><p>SANDAKAN, SABAH</p></div></li>
                            <li><div class="row"><i class="d-inline-block g-color-primary mr-2 mb-3">8. </i><p>LABUAN, WILAYAH PERSEKUTUAN</p></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
