@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" pageHeader medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/pic/Deployment.jpg"));">
    <center><h3 class="h2 g-color-white g-font-weight-600 g-line-height-1_4">TELCO'S SOLUTIONS</h3></center>
</div>

<div class="container-fluid">
    <div class="masonry-grid row">
        <div class="masonry-grid-sizer col-sm-1"></div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-40 g-bg-svg-bg1" role="alert">
                @*<i class="icon-tools" style="float:left"></i><h3><b>Maintenance</b></h3>*@
                <div class="icon-tools" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Maintenance</h3>
                <p class="mb-0">KUBtel’s maintenance support covers the entire Malaysia region. To date, we own and operate a total number of 17 project offices in both Peninsular and East Malaysia that provide support services 24 hours a day, seven days a week.</p>
                <p class="mb-0">The scopes of services include the combination of all technical and related administrative, managerial, and supervisory such as tests, measurements, replacements, adjustments and repairs. </p>
                <p class="mb-0">KUBtel’s expertise on Maintenance Support and Services is categorized as follows:</p>
                <ul class="list-unstyled">
                    <li><i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i> Preventive maintenance</li>
                    <li><i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i> Adaptive maintenance</li>
                    <li><i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i> Corrective maintenance</li>
                    <li><i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i> Perfective maintenance</li>
                </ul>
            </div>
        </div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-40 g-bg-svg-bg1" role="alert">
                <div class="icon-arrows" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Deployment</h3>
                <p class="mb-0">KUBtel’s deployment process creates or modifies a technical solution made up of one or more technical components.</p>
                <p class="mb-0">he deployment process embeds the solution in a structure that facilitates its management and maintenance in accordance to the guidelines from the customers’ Design and Planning.</p>
            </div>
        </div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-40 g-bg-svg-bg1" role="alert">
                <div class="icon-storages" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Migration</h3>
                <p class="mb-0">KUBtel specialises in executing telecommunication migration projects. We have the strength to analyse and finalise the plan of the service and data migration of the existing network and the target network covering the scenarios of network reconstruction and evolution.</p>
                <p class="mb-0">Our expertise in multiple vendors’ products facilitates efficient migrate of the service and data from the original network to the target network.</p>
            </div>
        </div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-40 g-bg-svg-bg1" role="alert">
                <div class="icon-ballstring" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Integration Services</h3>
                <p class="mb-0">KUBtel deals with complex projects on turnkey basis in the fields of telecommunications and Information Technology, which involve integrated delivery of system, bundled with all necessary hardware and security equipment.</p>
                <p class="mb-0">To ensure results of a high standard, the company adopted strict quality control and engaged with a qualified and experienced workforce to facilitate in assembling, staging, testing and deployment of equipment. </p>
            </div>
        </div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-40 g-bg-svg-bg1" role="alert">
                <div class="icon-staff" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Managed Services</h3>
                <p class="mb-0">KUBtel Managed Information Technology Services, you get a turnkey, full-service IT solution that includes the best certified experts in the industry, live 24/7 helpdesk support, tested and proven ITIL best practices in IT managed hosting and world-class technology. All of this is wrapped in a high availability service level agreement that financially guarantees your satisfaction.</p>
                <p class="mb-0">Our managed services remove the hassle of managing your own servers and services. We effectively become an extension of your company’s IT department. With KUBtel, you can leverage the latest technology without having to worry about hardware or any of the headaches associated with maintaining computer systems. This means less overhead and a larger return on your IT investment.</p>
                <p class="mb-0">Our support extended in variety business lines, including, networking project, application administration & comprehensive IT services, data management services, security & services, communication & collaboration (share point communication productivity solutions) and to end user support services.</p>
            </div>
        </div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-bg-img-hero g-line-height-2 g-pa-40 g-bg-svg-bg1" role="alert">
                <div class="icon-staffs" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Support Services</h3>
                <p class="mb-0">KUBtel offers Support Services for telecommunication through its network operations centre allowing a predictive and preventative monitoring of network faults or serious outages whilst providing information to assist in the optimisation and performance of the new infrastructure or framework.</p>
                <p class="mb-0">Our Support Services model is tailored to meet customers’ requirements which include remote access support, call centre support or on-site support.</p>
                <p class="mb-0">Our customers can rely on a secure system with round-the-clock proactive remote networking monitoring and management.</p>
            </div>
        </div>
    </div>
</div>
