@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="pageHeader g-bg-img-hero medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/titlebackground.png"));">
    <center><h1 class="h2 g-color-white g-font-weight-600 g-line-height-1_4">OUR BEST PRACTICE ADOPTION</h1></center>
</div>

<div class="container-fluid g-pa-30">
    @*<div class="row">*@
        <div class="col-md-9 col-lg-12">
            <div class="row">
                <div class="col-sm-6 col-lg-3 g-mb-50">
                    <!-- Icon Blocks -->
                    <span class="d-block g-color-primary g-font-size-48 g-mb-15 center-align">
                        <img class="g-width-200 g-height-120" src="~/Images/BestPractice/PMP.png" />
                    </span>
                    <h3 class="text-uppercase center-align g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Project Management</h3>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-50">
                    <!-- Icon Blocks -->
                    <span class="d-block g-color-primary g-font-size-48 g-mb-15 center-align">
                        <img class="g-width-200 g-height-120" src="~/Images/BestPractice/Itil.png" />
                    </span>
                    <h3 class="text-uppercase center-align g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Manage & Support</h3>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-50">
                    <!-- Icon Blocks -->
                    <span class="d-block g-color-primary g-font-size-48 g-mb-15 center-align">
                        <img class="g-width-200 g-height-120" src="~/Images/BestPractice/ItaBok.png" />
                    </span>
                    <h3 class="text-uppercase center-align g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Consulting & Architecting</h3>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-50 g-mb-0--lg">
                    <!-- Icon Blocks -->
                    <span class="d-block g-color-primary g-font-size-48 g-mb-15 center-align">
                        <img class="g-width-200 g-height-120" src="~/Images/BestPractice/CCNA.png" />
                    </span>
                    <h3 class="text-uppercase center-align g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10"></h3>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-50 g-mb-0--lg">
                    <!-- Icon Blocks -->
                    <span class="d-block g-color-primary g-font-size-48 g-mb-15 center-align">
                        <img class="g-width-200 g-height-120" src="~/Images/BestPractice/CCNP.png" />
                    </span>
                    <h3 class="text-uppercase center-align g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10"></h3>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-50 g-mb-0--md">
                    <!-- Icon Blocks -->
                    <span class="d-block g-color-primary g-font-size-48 g-mb-15 center-align">
                        <img class="g-width-200 g-height-120" src="~/Images/BestPractice/hrdf.png" />
                    </span>
                    <h3 class="text-uppercase center-align g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Train-the-Trainer (TTT)</h3>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-sm-6 col-lg-3">
                    <!-- Icon Blocks -->
                    <span class="d-block g-color-primary g-font-size-48 g-mb-15 center-align">
                        <img class="g-width-200 g-height-120" src="~/Images/BestPractice/hcna.png" />
                    </span>
                    <h3 class="text-uppercase center-align g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10"></h3>
                    <!-- End Icon Blocks -->
                </div>
            </div>
        </div>
    @*</div>*@
</div>
