@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="pageHeader g-bg-img-hero medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/titlebackground.png"));">
    <center><h1 class="h2 g-color-white g-font-weight-600 g-line-height-1_4">KUBTEL BUSINESS FOCUS 2018 - 2020</h1></center>
</div>
<div class="container-fluid">
    <div class="row g-mb-30">
        <div class="col-lg-4 col-sm-6 g-pl-20--md g-mb-30">
            <article class="media d-block d-md-flex h-100 g-bg-white u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-bg-svg-bg1" role="alert">
                <div class="media-body align-self-center g-py-30 g-pl-40 g-pr-40">
                    @*<div class="d-md-flex align-self-center g-mr-30--md g-ml-minus-82--md">*@
                    <div class="d-md-flex align-self-center g-mr-30--md">
                        <img class="g-width-150" src="~/Images/BizFocus/tower.png" alt="Image description">
                    </div>
                    <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">Communications Tower</h3>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        As demand for wireless connectivity continues to increase, you need the ability to quickly expand to ensure that your customers continue to receive the service they expect. The shared infrastructure model is the most efficient way to give wireless carriers access to every market. For you as a carrier, the benefits are hard to ignore. In addition to lower costs than building and owning towers, leasing allows you to better allocate your capital and focus on your core business.
                    </p>
                </div>
                <!-- End Article Content -->
            </article>
        </div>
        <div class="col-lg-4 col-sm-6 g-pl-20--md g-mb-30">
            <article class="media d-block d-md-flex h-100 g-bg-white u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-bg-svg-bg1" role="alert">
                <div class="media-body align-self-center g-py-30 g-pl-40 g-pr-40">
                    <div class="d-md-flex align-self-center g-mr-30--md">
                        <img class="g-width-150" src="~/Images/BizFocus/smartcity.png" alt="Image description">
                    </div>
                    <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">Smart City Initiatives</h3>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        Successful smart cities of the future will combine the best aspects of technology infrastructure while making the most of the growing potential of 'collaborative technologies', technologies that enable greater collaboration between urban communities and between citizens and city governments.
                    </p>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        We are here to put all the jigsaw puzzle together to create a smart city ecosystem that assist citizens shape the future of their cities using collaborative technologies.
                    </p>
                </div>
                <!-- End Article Content -->
            </article>
        </div>
        <div class="col-lg-4 col-sm-6 g-pl-20--md g-mb-30">
            <article class="media d-block d-md-flex h-100 g-bg-white u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-bg-svg-bg1" role="alert">
                <div class="media-body align-self-center g-py-30 g-pl-40 g-pr-40">
                    <!-- Article Image -->
                    <div class="d-md-flex align-self-center g-mr-30--md">
                        <img class="g-width-150" src="~/Images/BizFocus/devices.png" alt="Image description">
                    </div>
                    <!-- End Article Image -->
                    <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">ICT Infrastructure and Communication</h3>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        To provide the means that enable modern society to better managed information and communication to spur the growth of nation digital economy.
                    </p>
                </div>
                <!-- End Article Content -->
            </article>
        </div>
        <div class="col-lg-4 col-sm-6 g-pl-20--md g-mb-30">
            <article class="media d-block d-md-flex h-100 g-bg-white u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-bg-svg-bg1" role="alert">
                <div class="media-body align-self-center g-py-30 g-pl-40 g-pr-40">
                    <!-- Article Image -->
                    <div class="d-md-flex align-self-center g-mr-30--md">
                        <img class="g-width-150" src="~/Images/BizFocus/network.png" alt="Image description">
                    </div>
                    <!-- End Article Image -->
                    <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">Bandwidth Management</h3>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        The IT strategies and processes used for the comprehensive monitoring, measuring and regulating of bandwidth utilization across a business network. Provides maximum availability and usability to end users accessing business-critical information and applications from a variety of locations while preventing the intrusion of potentially harmful network traffic.
                    </p>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        With effective network bandwidth management, businesses will be able to function proficiently by controlling heavy traffic
                    </p>
                </div>
                <!-- End Article Content -->
            </article>
        </div>
        <div class="col-lg-4 col-sm-6 g-pl-20--md g-mb-30">
            <article class="media d-block d-md-flex h-100 g-bg-white u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-bg-svg-bg1" role="alert">
                <div class="media-body align-self-center g-py-30 g-pl-40 g-pr-40">
                    <!-- Article Image -->
                    <div class="d-md-flex align-self-center g-mr-30--md">
                        <img class="g-width-150 g-height-150" src="~/Images/BizFocus/bandwidth.png" alt="Image description">
                    </div>
                    <!-- End Article Image -->
                    <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">Call Centre/Helpdesk</h3>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        Due to the growing interest of companies to better connect with their customers, their need to have a call center as a centralized and organized medium for this purpose has also grown.
                    </p>
                </div>
                <!-- End Article Content -->
            </article>
        </div>
        <div class="col-lg-4 col-sm-6 g-pl-20--md g-mb-30">
            <article class="media d-block d-md-flex h-100 g-bg-white u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-bg-svg-bg1" role="alert">
                <div class="media-body align-self-center g-py-30 g-pl-40 g-pr-40">
                    <!-- Article Image -->
                    <div class="d-md-flex align-self-center g-mr-30--md">
                        <img class="g-width-150" src="~/Images/BizFocus/managedservices.png" alt="Image description">
                    </div>
                    <!-- End Article Image -->
                    <h3 class="h6 text-uppercase g-letter-spacing-4 g-font-weight-700 g-mb-20">Managed Services</h3>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        Outsourcing on a proactive basis management responsibilities and functions and a strategic method intended to improve operations and cut expenses
                    </p>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        We at KUBTel focuses on management services as its core offerings.
                    </p>
                    <p class="g-theme-color-gray-light-v2 g-mb-20 mb-0">
                        In addition, application service providers (ASPs) and network service providers (NSPs) — that supplement their traditional offerings with management services are also in our portfolio.
                    </p>
                </div>
                <!-- End Article Content -->
            </article>
        </div>
    </div>
</div>

