@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageHeader g-bg-img-hero medium-bottom-margin" style="background-image: url(@Url.Content("~/Images/pic/Maintenance.jpg"));">
    <center><h3 class="h2 g-color-white g-font-weight-600 g-line-height-1_4">PROJECT EXPERIENCES</h3></center>
</div>

<div class="container-fluid">
    <div class="masonry-grid row">
        <div class="masonry-grid-sizer col-sm-1"></div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-pa-40 g-bg-svg-bg1" role="alert">
                @*<i class="icon-tools" style="float:left"></i><h3><b>Maintenance</b></h3>*@
                <div class="icon-tools" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Suruhanjaya Komunikasi &amp; Multimedia Malaysia (MCMC)</h3>
                <ul class="list-unstyled">
                    <li>
                        <div class="row">
                            <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                            <p class="g-pl-40--md g-pl-40--xs">
                                UNIVERSAL SERVICE PROVIDER FOR THE PROVISION OF TIME 3 EXTENSION PHASE 2 PROJECT FOR MCMC
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-pa-40 g-bg-svg-bg1" role="alert">
                @*<i class="icon-tools" style="float:left"></i><h3><b>Maintenance</b></h3>*@
                <div class="icon-tools" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Telekom Malaysia (TM)</h3>
                <ul class="list-unstyled">
                    <li>
                        <div class="row">
                            <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                            <p class="g-pl-40--md g-pl-40--xs">
                                CONTRACT FOR THE COMPREHENSIVE MAINTENANCE AND SUPPORT SERVICES OF DSLAM EQUIPMENT FOR TM
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                            <p class="g-pl-40--md g-pl-40--xs">
                                CONTRACT FOR SUPPLY, DELIVERY, INSTALL, TESTING AND COMMISIONING OF TELECOMMUNICATION BATTERIES INCLUDING THE PROVISION ITS ENGINEERING SERVICES FOR TM NATIONWIDE FOR TM
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                            <p class="g-pl-40--md g-pl-40--xs">
                                CONTRACT FOR THE COMPREHENSIVE MAINTENANCE SERVICES FOR METRO ETHERNET SYSTEM FOR TM
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                            <p class="g-pl-20--md g-pl-20--xs">
                                Contract for fiber distribution cabinet
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check"></i>
                            <p class="g-pl-20--md g-pl-20--xs">
                                Contract for metal based items
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="masonry-grid-item col-sm-6 col-lg-6 g-mb-30">
            <div class="u-shadow-v1-5 g-line-height-2 g-bg-img-hero g-pa-40 g-bg-svg-bg1" role="alert">
                @*<i class="icon-tools" style="float:left"></i><h3><b>Maintenance</b></h3>*@
                <div class="icon-tools" style="float:left"></div>
                <h3 class="h2 g-font-weight-300 g-mb-20">Keretapi Tanah Melayu Berhad (KTMB)</h3>
                <ul class="list-unstyled">
                    <li>
                        <div class="row">
                            <i class="d-inline-block g-color-primary mr-2 mb-3 fa fa-check ourMissionChecked"></i>
                            <p class="g-pl-40--md g-pl-40--xs">
                                COMPLETION OF AUTOMATIC FARE COLLECTION SYSTEM FOR KERETAPI TANAH MELAYU BERHAD COMMUTER STATION
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
